<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
   
</head>
<body>

    <video autoplay muted loop id="myVideo"
    <source scr="https://media.giphy.com/media/xUPGcHNYJTSP4uCUpy/giphy.gif" type="video/gif">
</video>

    <nav class="navbar justify-content-between">
        <a class="navbar-brand">
            <h1>Chomp Chomp Burgers</h1>
        </a>
    </nav>
    
<div class="container" id="main">
    <div class="row justify-content-center">
        <div class="col-m-3 mt-4 mr-3">

        </div>
    </div>

</div>









</body>
</html>